<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Hello</title>
</head>

<body>
  <p>Welcome back,
    <% if(name !== undefined) { %>
    <%= name %>
    <% } else { %>
    <%= guest %>
    <% } %>
  </p>
</body>

</html>